<footer>
  <nav class="footer">
    <ul>
      <li>
        <button type='submit' id='footer-home'>
          <i class="ri-layout-masonry-fill"></i>
        </button>
      </li>
      <li>
        <button type='submit' id='footer-multimedia'>
          <i class="ri-tv-fill"></i>
        </button>
      </li>
      <li>
        <button type='submit' id='footer-eating'>
          <i class="ri-cup-fill"></i>
        </button>
      </li>
      <li>
        <button type='submit' id='footer-reading'>
          <i class="ri-book-fill"></i>
        </button>
      </li>
      <li>
        <button type='submit' id='footer-buying'>
          <i class="ri-shopping-bag-3-fill"></i>
        </button>
      </li>
      <li>
        <button type='submit' id='footer-profile'>
          <i class="ri-user-3-fill"></i>
        </button>
      </li>
     </ul>
  </nav>
</footer>
