<footer>
  <nav class="footer">
    <ul>
      <li><button type='submit' onClick='home()'><i class="ri-layout-masonry-fill"></i></button></li>
      <li><button type='submit' onClick='media()'><i class="ri-tv-fill"></i></button></li>
      <li><button type='submit' onClick='food()'><i class="ri-cup-fill"></i></button></li>
      <li><button type='submit' onClick='reading()'><i class="ri-book-fill"></i></button></li>
      <li><button type='submit' onClick='shopping()'><i class="ri-shopping-bag-3-fill"></i></button></li>
      <li><button type='submit' onClick='profile()'><i class="ri-user-3-fill"></i></button></li>
     </ul>
  </nav>
  <script>
    function home() {
      window.location.href='/'
    }
    function media() {
      window.location.href=''
    }
    function food() {
      window.location.href=''
    }
    function reading() {
      window.location.href=''
    }
    function shopping() {
      window.location.href=''
    }
    function profile() {
      window.location.href=''
    }
  </script>
</footer>
