<footer>
  <nav class="footer">
    <ul>
      <li><button><i class="ri-layout-masonry-fill"></i></button></li>
      <li><button><i class="ri-tv-fill"></i></button></li>
      <li><button><i class="ri-cup-fill"></i></button></li>
      <li><button><i class="ri-book-fill"></i></button></li>
      <li><button><i class="ri-shopping-bag-3-fill"></i></button></li>
      <li><button><i class="ri-user-3-fill"></i></button></li>
     </ul>
  </nav>
</footer>
