<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SMART TO-DO</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- EXTERNAL CSS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- EXTERNAL JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main class='container'>
      <section class='categories'>
        <button class='watch-list'><b>watch</b></button>
        <button class='eat-list'><b>eat</b></button>
        <button class='read-list'><b>read</b></button>
        <button class='buy-list'><b>buy</b></button>
        <button class='misc-list'><b>misc</b></button>
      </section>
      <section class='new-task'>
        <form type='POST' action='/todo'>
          <textarea placeholder='Add new task'></textarea>
          <button type='SUBMIT'><i class="ri-arrow-right-circle-fill"></i></button>
        </form>
      </section>
    </main>
    <%- include('partials/_footer') %>
  </body>
</html>
