<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SMART TO-DO</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- EXTERNAL CSS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- EXTERNAL JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <%- include('partials/_header') %>
        <main class='container'>
            <section class='categories'>
                <form action='/category/multimedia' method='GET'>
                    <button class='watch-list'>Multimedia</button>
                </form>
                <form action='/category/food' method='GET'>
                    <button class='eat-list'>Food</button>
                </form>
                <form action='/category/books' method='GET'>
                    <button class='read-list'>Books</button>
                </form>
                <form action='/category/shopping' method='GET'>
                    <button class='buy-list'>Shopping</button>
                </form>
                <form action='/category/miscellaneous' method='GET'>
                    <button class='misc-list'>Miscellaneous</button>
                </form>
            </section>
            <form class='new-task' type='POST' action='/todo'>
                <input placeholder='Add new task'></input>
                <button type='SUBMIT'><i class="ri-arrow-right-circle-fill"></i></button>
            </form>
        </main>
        <%- include('partials/_footer') %>
</body>

</html>