$font-stack: Source Sans Pro, sans-serif;
$primary-color: #2699FB;

.primary_header {
  top: 0;
  position: fixed;
  height: 70px;
	width: 100%;
	background-color: $primary-color;
	padding-top: 30px;
	padding-bottom: 10px;
  margin-bottom: auto;
  font-size: 12px;
	clear: left;
}
.title {
  margin-bottom: 2px;
	font-weight: bold;
	font-style: normal;
	font-family: $font-stack;
  font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
}
