$font-stack: Source Sans Pro, sans-serif;
$primary-color: #2699FB;

.profile-edit {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  width: 100%;
}
.profile-edit > input {
  background: #EEE;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
  border-bottom: 3px solid rgba(38, 153, 251, .5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  outline: none;
  background-position: 10px;
  background-repeat: no-repeat;
  text-indent: 20px;
  padding: 10px 5px 10px 20px;
  transition: all 0.2s;
}
#fname {
  background-image: url(https://cdn0.iconfinder.com/data/icons/multimedia-solid-30px/30/user_account_profile-20.png);
}
#lname {
  background-image: url(https://cdn0.iconfinder.com/data/icons/multimedia-solid-30px/30/user_account_profile-20.png);
}
#email {
  background-image: url(https://cdn0.iconfinder.com/data/icons/multimedia-solid-30px/30/mail_email_inbox_message-20.png);
}
.profile-edit > button {
  background: $primary-color;
  color: white;
  border: none;
  border-radius: 12px;
  height: 48px;
  width: 80%;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}
