// See: https://sass-lang.com/

@charset 'UTF-8';
@import 'footer', 'header';

$primary-color: #2699FB;
$background: #EEE;
$font-stack: Source Sans Pro, sans-serif;

body {
  background-color: $background;
  h1 {
    color: #244751;
  }
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  padding-top: 60px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: auto;
}

.categories button {
  margin: 15px;
  border-radius: 36px;
  padding: 14px;
  width: 75%;
  height: 60px;
  font-size: 14px;
}

// section.new-task {
//   bottom: 78px;
//   position: fixed;
//   width: 100%;
// }

// .new-task form {
//   margin-right: auto;
//   margin-left: auto;
//   width: 90%;
// }

section.new-task{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // margin-left: auto;
  margin-top: 17vh;
  width: 100%;
}

.new-task form {
  width: 90%;
  margin-left: 15px;
}

.new-task textarea {
  flex-shrink: 1;
  border-radius: 24px;
  background-color: $background;
  resize: none;
  width: 100%;
  height: 48px;
  padding-top: 15px;
  padding-left: 30px;
  margin: auto;
}

::placeholder {
  color: $primary-color;
  font: $font-stack;
  opacity: 0.7;
  font-weight: bold;
  letter-spacing: 1px;
}

.new-task button {
  margin-right: 15px;
  padding-top: 12px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  font-size: 48px;
  color: $primary-color;
}
