// See: https://sass-lang.com/

@charset 'UTF-8';
@import 'footer', 'header';

// $primary-color: #2699FB;
// $font-stack: Source Sans Pro, sans-serif;

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.container {
	background-color: #FFFFFF;
	// width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
