// See: https://sass-lang.com/

@charset 'UTF-8';
@import 'footer', 'header', 'category', 'edit', 'profile', 'profile_edit', 'back';

$primary-color: #2699FB;
$background: #EEE;
$font-stack: Source Sans Pro, sans-serif;

body {
  margin-top: 70px;
  background-color: $background;
}
main.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.categories {
  width: 100%;
  display: flex;
  padding-top: 60px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: auto;
}
.categories button {
  margin: 15px;
  border-radius: 36px;
  padding: 14px;
  width: 75%;
  height: 60px;
  font-size: 14px;
  font-weight: bold;
	font-style: normal;
  letter-spacing: 0.5px;
  color: $background;
  border: thin;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,86,157,1) 40%, rgba(38,153,251,1) 80%, rgba(0,212,255,1) 100%);
}
.new-task{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.new-task input {
  flex-shrink: 1;
  border-radius: 24px;
  background-color: $background;
  border-width: 2px;
  outline: none;
  width: 100%;
  height: 48px;
  padding-left: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
::placeholder {
  color: $primary-color;
  font: $font-stack;
  opacity: 0.7;
  font-weight: bold;
  letter-spacing: 1px;
}
.new-task button {
  align-self: flex-end;
  margin-right: 15px;
  padding-top: 12px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  font-size: 48px;
  color: $primary-color;
}
